/************************************************************************/
/* ANIMATIONS
/************************************************************************/


@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes nav-circle-grow {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		width: 150px;
		height: 150px;
	}
}
@keyframes nav-circle-shrink {
	0% {
		width: 150px;
		height: 150px;
	}
	100% {
		width: 0;
		height: 0;
	}
}
@keyframes nav-outer-circle-grow {
	0% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	50% {
		width: calc(100% + 30px);
		height: calc(100% + 30px);
		opacity: 1;
		left: -15px;
	}
	100% {
		width: calc(100% + 15px);
		height: calc(100% + 15px);
		opacity: 1;
		left: -7.5px;
	}
}
@keyframes nav-outer-circle-shrink {
	0% {
		width: calc(100% + 15px);
		height: calc(100% + 15px);
		opacity: 1;
		left: -7.5px;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

	
@keyframes circle-grow {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		width: 160px;
		height: 160px;
	}
}
@include breakpoint($sm){
	@keyframes circle-grow {
		0% {
			width: 0;
			height: 0;
		}
		100% {
			width: 260px;
			height: 260px;
		}
	}
}
@include breakpoint($md){
	@keyframes circle-grow {
		0% {
			width: 0;
			height: 0;
		}
		100% {
			width: 340px;
			height: 340px;
		}
	}
}


@keyframes hero-circle-grow {
	0% {
		width: 0;
		height: 0;
	}
	100% {
		width: 160px;
		height: 160px;
	}
}
@include breakpoint($sm){
	@keyframes hero-circle-grow {
		0% {
			width: 0;
			height: 0;
		}
		100% {
			width: 200px;
			height: 200px;
		}
	}
}
@include breakpoint($md){
	@keyframes hero-circle-grow {
		0% {
			width: 0;
			height: 0;
		}
		100% {
			width: 275px;
			height: 275px;
		}
	}
}


@keyframes outer-circle-grow {
	0% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	50% {
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		opacity: 1;
		left: -10px;
	}
	100% {
		width: calc(100% + 10px);
		height: calc(100% + 10px);
		opacity: 1;
		left: -5px;
	}
}
@include breakpoint($sm){
	@keyframes outer-circle-grow {
		0% {
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		50% {
			width: calc(100% + 30px);
			height: calc(100% + 30px);
			opacity: 1;
			left: -15px;
		}
		100% {
			width: calc(100% + 15px);
			height: calc(100% + 15px);
			opacity: 1;
			left: -7.5px;
		}
	}
}
@include breakpoint($md){
	@keyframes outer-circle-grow {
		0% {
			width: 100%;
			height: 100%;
			opacity: 0;
		}
		50% {
			width: calc(100% + 40px);
			height: calc(100% + 40px);
			opacity: 1;
			left: -20px;
		}
		100% {
			width: calc(100% + 20px);
			height: calc(100% + 20px);
			opacity: 1;
			left: -10px;
		}
	}
}
