/************************************************************************/
/* HEADER STYLES
/************************************************************************/

header[role="banner"] {
	background-color: $white;
	position: relative;
	z-index: 10;
	
	&.nonav {
		.wrap {
			justify-content: center;
		}
	}
	
	.wrap {
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.5rem;
	}
	
	.logo {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    //@include position(absolute, 0 null null 1.5rem);
	    background: $white;
		width: 14.6rem;
		padding: 1.3rem 1.5rem 1.4rem;
			padding: 0.5rem 0.6rem 1rem;
		
		@include breakpoint($md){
			//width: 18rem;
			padding: 2rem 1.5rem 2.5rem;
			padding: 0.5rem 0.6rem 1rem;
		}
		@include breakpoint($lg){
			//width: 23rem;
			padding: 2.4rem 1.6rem 3.1rem;
			padding: 0.5rem 0.6rem 1rem;
		}
		
		svg {
			width: 100%;
		}
	}
}

#main_menu_mobile {
	display: block;
	
	@include breakpoint($tablet){
		display: none;
	}
}
#main_menu {
	display: none;
	
	@include breakpoint($tablet){
		display: block;
	}
}
.main-menu-mobile {
	@include position(fixed, -115% null null 0);
	transition: top 0.5s ease-in-out;
    width: 100%;
    background: rgba($green,0.95);
    height: 100vh;
    padding: 8rem 0 0;
    overflow-y: scroll;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
    
    &.open {
	    top: 0;
    }
}
.main-menu {	
	ul {
		font-family: $heading_font;
		font-size: 1.8rem;
		
		@include breakpoint($tablet){
			display: flex;
			justify-content: space-between;
			font-family: $heading_font;
			font-size: 1.5rem;
			line-height: 1.3;
			padding: 1rem 0 1rem 2rem;
		}
		@include breakpoint($md){
			padding: 1.5rem 0 1.5rem 2rem;
		}
		@include breakpoint($lg){
			padding: 2.5rem 0 2.5rem 2rem;
		}
		
		li {
			position: relative;
			width: 100%;
			text-align: center;
			transition: all 0.3s ease-in-out;
			
			@include breakpoint($tablet){
				width: auto;
				
				&:hover > a, &.open > a, &.current-menu-item > a, &.current-page-parent > a, &.current-page-ancestor > a {
					color: $green;
					
					&:before, &:after {
						opacity: 1;
					}
				}
			}
			@include breakpoint($md){
				padding: 0 1rem;
			}
			
			a {
				display: block;
				padding: 2rem;
				color: $white;
				text-transform: uppercase;
				transition: all 0.3s ease-in-out;
				
				@include breakpoint($tablet){
					padding: 1rem 1.5rem 0.8rem;
					color: $text_color;
					font-weight: 600;
				}
				
				&:before, &:after {
					content: "•";
					display: block;
					opacity: 0;
					transition: all 0.3s ease-in-out;
					color: $green;
					@include position(absolute, 50% null null null);
					transform: translateY(-50%);
				}
				&:before {
					left: 0.8rem;
					
					@include breakpoint($md){
						left: 1.4rem;
					}
				}
				&:after {
					right: 0.8rem;
					
					@include breakpoint($md){
						right: 1.4rem;
					}
				}
			}
		}
	}
}
.menu-toggle {
    display: block;
    overflow: visible;
    margin: 0;
    padding: 2rem 0 1.5rem;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    z-index: 10;
    
    @include breakpoint($tablet){
	    display: none;
    }
    
    &.active {
	    .menu-icon .menu-icon-inner {
		    transition-delay: .12s;
		    transition-timing-function: cubic-bezier(.215,.61,.355,1);
		    transform: rotate(45deg);
		    
		    &:before {
			    top: 0;
			    transition: top 75ms ease,opacity 75ms ease .12s;
			    opacity: 0;
		    }
		    &:after {
		        bottom: 0;
			    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
			    transform: rotate(-90deg);
		    }
	    }
    }
	
	.menu-icon {
	    position: relative;
	    display: inline-block;
	    width: 2.4rem;
	    height: 2rem;
	    
	    .menu-icon-inner {
		    display: block;
		    position: absolute;
	        top: 50%;
		    margin-top: -2px;
		    width: 2.4rem;
		    height: 0.3rem;
		    border-radius: 0.3rem;
		    background-color: $green;
		    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
			transition-duration: 75ms;
		    transition-property: transform;
		    
		    &:before, &:after {
			    display: block;
			    content: "";
			    position: absolute;
			    width: 2.4rem;
			    height: 0.3rem;
			    border-radius: 0.3rem;
			    background-color: $green;
			    transition-timing-function: ease;
			    transition-duration: .15s;
			    transition-property: transform;
		    }
		    &:before {
			    top: -0.7rem;
		        transition: top 75ms ease .12s,opacity 75ms ease;
		    }
		    &:after {
			    bottom: -0.7rem;
			    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
		    }
		}
	}
}